@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<body>
    <link rel="stylesheet" href="/css/Theme.css">
<div class = "col-2 d-flex float-start">

    <img src="~/img/MAIL_X_LOGO.png" class = "img-fluid" style = "width:170px; height:100px;margin-left:-8px; margin-top:15px;">

</div>

<div class = "col-2 p-1 text-center" style = "position:absolute; top:20px; right:32px;">

    <div>

    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="rounded-circle mb-1" style="width: 50px;"
    alt="Avatar" />

    <h5 class="mb-2">@HttpContextAccessor.HttpContext.Session.GetString("Username")</h5>

    @using (@Html.BeginForm("LogOut","Login")){
                                    
            <button class="btn btn-primary" style = "background-color: #73a9ff; border-color:#73a9ff; height:30px; width:80px; padding:2px;">Log Out</button>

        }

    </div>

</div>

<br></br>
<br></br>
<br></br>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <div class = "d-flex align-items-center justify-content-center mt-5">

         <input type="text" class="form-control my-2 w-75" placeholder = "Search..." name="EmpID" id = "myInput" onkeyup = "SearchTable()" style = "background-color:#f5f6fa;">
         

    </div>

    </body>

<script>

function SearchTable() {
    var input, filter, found, table, tr, td, i, j;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
            if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                found = true;
            }
        }
        if (found) {
            tr[i].style.display = "";
            found = false;
        } else {
            tr[i].style.display = "none";
        }
    }
}
</script>

