@using Newtonsoft.Json;

<script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>

<link rel="stylesheet" href="/css/Theme.css">

<body>

<div class = "container">

    <div class = "row">

        <div class = "3">

            <div class = "card col-3" style = "width:250px;">

                <p>1</p>

            </div>

            <div class = "card col-3" style = "width:250px;">

                <p>2</p>

            </div>

            <div class = "card col-3" style = "width:250px;">

                <p>3</p>

            </div>

            <div class = "card col-3" style = "width:250px;">

                <p>4</p>

            </div>

        </div>

    </div>

</div>

<div class = "container">

    <div class = "row align-items-end">

        <div class = "col">

            <div style = "height:500px;">

            <canvas id="BarChart" ></canvas>

            </div>

        </div>

        <div class = "col">

            <canvas id="PieChart" ></canvas>

        </div>

    </div>

</div>

<script>

    var jsonlabel = '@ViewBag.StatusLabel';
    var jsoncount = '@ViewBag.StatusCount';

    var Count = JSON.parse(jsoncount.replace(/&quot;/g,'"'));
    var Label = JSON.parse(jsonlabel.replace(/&quot;/g,'"'));


const ctx = document.getElementById('BarChart');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: Label,
        datasets: [{
            label: "Overview",
            data: Count,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)'
                
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)'
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});



</script>

</body>

<script>


const ctx2 = document.getElementById('PieChart');
const myChart2 = new Chart(ctx2, {
    type: 'pie',
    data: {
        labels: Label,
        datasets: [{
            label: "Overview",
            data: Count,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(80, 112, 198, 0.2)'
                
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(80, 112, 198, 1)'
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
}); 

</script>